@media (min-width: 1024px) {
	.home {
		display: flex;
		flex-direction: column;
		gap: 20px;
		&__header {
		}

		&__wrapper {
		}
	}
}
@media (max-width: 1024px) {
	.home {
		display: flex;
		flex-direction: column;
		gap: 15px;
		&__header {
		}

		&__wrapper {
		}
	}
}
