:root {
	--main-bg-color: #fafafa;
	--color-green: #4bad3b;
	--color-red: #e21818;
	--color-black: #272727;
	--color-white: #ffffff;
	--color-1: #757575;
	--color-2: #d9d9d9;
	--color-3: #9c9f9b;
	--color-4: #9f9f9f;
}
//var(--main-bg-color)
//var(--color-green)
//var(--color-red)
//var(--color-black)
//var(--color-white)
//var(--color-1)
//var(--color-2)
//var(--color-3)
//var(--color-4)
